/* Common */ 

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Mono&family=Maven+Pro:wght@400;500;600;700&family=Playfair+Display:wght@500&display=swap');

* {
	margin:0;
	padding:0;
	color:#616161;
	font-family: 'Playfair Display', sans-serif;
	box-sizing: border-box;
}

/* Header */ 

ul {
	list-style: none;
}

li {
	text-decoration: none;
	outline: none;
}

.container {
	width:1400px;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header > h2 {
	margin-left:20px;
}

header > nav {
	width:600px;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}

header ul > li:hover {
	color:#000;
    transform: scale(1.1);
    cursor: pointer;
	text-decoration: underline;
}

/* Section */ 
/*
.fn-font {
	font-family: 'Playfair Display', sans-serif;
}
*/
.weather-container {
	border-radius: 5px;
	background-size: cover;
	background-position: 0% 20%;
	width:100%;
	height:250px;
    display: flex;
	justify-content: center;
	align-items: left;
	padding-left: 10px;
    flex-direction:column;
}

.current-time, .location, .fas {
	letter-spacing: 3px;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #f5f5f5;
}

.weater-temp > div {
	color: #f5f5f5;
}

/* Article */ 

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.recommend-item {
	font-size: 40px;
	width:100%;
    display: flex;
	justify-content: center;
	padding-top:20px;
	font-weight: bold;
	margin-top: 20px;
}

.item-button {
	width:100%;
    display: flex;
	justify-content: center;
	padding-top:20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
	font-size: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-green {
    background-color: #77af9c;
    color: #d7fff1;
}

.w-btn-green2 {
    background-color: #519d9e;
    color: #9dc8c8;
}

.w-btn-brown {
    background-color: #ce6d39;
    color: #ffeee4;
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-pink {
    background-color: #f199bc;
    color: #d4dfe6;
}

.w-btn-gray {
    background-color: #a3a1a1;
    color: #e3dede;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}


/* slider */

.div0-title,.div1-title,.div2-title,.div3-title,.div4-title,.div5-title,.div6-title {
	color: #616161;
	margin-bottom: 20px;
	text-decoration: underline;
}
/*
.slider-div0,.slider-div1,.slider-div2,.slider-div3,.slider-div4,.slider-div5,.slider-div6 {
}*/

/*location dropdown*/

  select {
	  width: 120px; 
	  padding: .8em .5em;
	  margin-bottom: 10px;
	  border: 1px solid #999;
	  font-family: inherit;  
	  background-color: #ddd;
	  border-radius: 0px; 
	  -webkit-appearance: none; 
	  -moz-appearance: none;
	  appearance: none;
	}

	td{
		text-align:center;
	}

	a{
		text-decoration-line : none;
	}

	td a div {
		margin-left: 20px;
		width: 250px;
		display: block;
		overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}

	th {
		font-size:30px;
		padding-top: 80px;
		padding-bottom: 25px;
		text-align:left;
	}



	



